// Стили для основной страницы

.main-menu {
	background-color: transparent;
	@media (max-width: em(1152)){
		position: absolute;
		left: -100%;
		width: 100%;
		background-color: rgba(0,0,0,.8);
		z-index: 15;
		transition: all .2s;
		overflow: auto;
		height: 100vh;
	}
	.menu__body {
		max-width: 320px;
		padding: 50px 0 50px 90px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100vh;
		background-color: #fff;
		@media (max-width: em(1664)){
			justify-content: flex-start;
			row-gap: 50px;
		}
		@media (max-width: em(1248)){
			padding: 30px;
		}
		@media (max-width: em(576)){
			padding: 20px;
			max-width: 300px;
		}
	}
	// .main-menu__logo
	&__logo {
		display: flex;
		align-items: center;
		img {
			margin-right: 27px;
		}
		span {
			font-weight: 700;
			font-size: rem(27);
		}
	}
	// .main-menu__menu
	&__menu {
	}
	// .main-menu__body
	&__body {
	}
	// .main-menu__list
	&__list {
	}
	// .main-menu__item
	&__item {
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 4px;
			height: 100%;
			background-color: $accentBlue;
			position: absolute;
			top: 0;
			right: 0;
			border-radius: 10px;
			transform: translateX(50%);
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s;
		}
		&[data-notification] {
			&:after {
				content: attr(data-notification);
				font-size: rem(13);
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				@include rect(17, 17, 1, 0);
				position: absolute;
				top: -6px;
				left: 15px;
				background-color: #ff808b;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: 52px;
		}
	}
	// .main-menu__link
	&__link {
		display: flex;
		align-items: center;
		font-weight: 500;
		color: $textColor;
		transition: all 0.2s;
		font-size: rem(17);
		&:before {
			width: 25px;
			font-size: rem(24);
			margin-right: 42px;
			color: $textColor;
			transition: all 0.2s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
				&:before {
					color: $accentBlue;
				}
			}
		}
	}
	// .main-menu__upgrade
	&__upgrade {
	}
}
.upgrade-main-menu {
	background-color: #f5f5fb;
	border-radius: 17px;
	padding: 80px 25px 28px;
	margin-right: 25px;
	position: relative;
	@media (max-width: em(1664)){
		margin-top: 100px;
	}
	@media (max-width: em(1248)){
		margin: 100px 0 0;
		text-align: center;
	}
	// .upgrade-main-menu__img
	&__img {
		max-width: 105px;
		position: absolute;
		top: -30%;
		left: 50%;
		transform: translateX(-50%);
		img {
			max-width: 100%;
		}
	}
	// .upgrade-main-menu__text
	&__text {
		text-align: center;
		font-weight: 400;
		font-size: rem(16);
		line-height: em(24, 16);
		color: $textColor;
		span {
			color: $mainColor;
			font-weight: 600;
		}
	}
	// .upgrade-main-menu__btn
	&__btn {
		margin-top: rem(32);
		padding: rem(15) rem(45);
		background-color: #5e81f4;
		border: 1px solid #5e81f4;
		border-radius: 14px;
		font-weight: 500;
		font-size: rem(17);
		color: #fefefe;
		transition: all 0.2s;
		@media (any-hover: hover) {
			&:hover {
				background-color: transparent;
				color: #5e81f4;
			}
		}
	}
}

.main {
	flex: 1 1 auto;
	padding: 50px;
	@media (max-width: em(1248)){
		padding: 30px;
	}
	@media (max-width: em(576)){
		padding: 20px;
	}
}

.search-header__btn__wrapper {
	@include rect(54, 54, 0, 0);
	border-radius: 12px;
	background-color: #e5e9fa;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #cbd3f9;
			.circle {
				background-color: #cbd3f9;
			}
		}
	}
}

.circle {
	background-color: #e5e9fa;
	border: 2px solid $accentBlue;
	border-radius: 50%;
	display: block;
	left: 0;
	position: absolute;
	height: 15px;
	width: 15px;
	top: 0;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
	z-index: 10;
}

.line {
	position: absolute;

	&::before,
	&::after {
		content: "";
		cursor: pointer;
		border-radius: 10px;
		height: 2px;
		width: 20px;
		background: $accentBlue;
		position: absolute;
		left: 0;
		display: block;
		top: 9px;
		transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
	}

	&::before,
	&::after {
		transform: rotate(45deg);
	}
}

.active {
	.circle {
		background-color: transparent;
		transform: scale(0);
	}

	.line {
		&::before,
		&::after {
			border-radius: 0;
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 30px;
	position: relative;
	@media (max-width: em(576)){
		column-gap: 10px;
	}
	// .header__date
	&__date {
		font-weight: 500;
		font-size: rem(17);
	}
	&__user {
		@media (min-width: em(880)){
			display: none;
		}
		flex: 0 0 54px;
		height: 54px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #e5e9fa;
		border-radius: 12px;
	}
}
.search-header {
	display: flex;
	column-gap: 50px;
	// .search-header__btn
	&__btn {
		position: relative;
		width: 18px;
		height: 18px;
	}
	// .search-header__input
	&__input {
		width: 0;
		transition: all .2s;
		&.active{
			width: 280px;
			input {
				padding: 15px 20px;
			}
		}
		input {
			width: 100%;
			background: #E5E9FA;
			border-radius: 12px;
			font-weight: 500;
			font-size: rem(17);
			transition: all .2s;
			padding: 15px 0;
		}
		@media (max-width: em(1152)){
			position: absolute;
			width: 100%;
			opacity: 0;
			visibility: hidden;
			transition: none;
			transition: all .2s;
			input {
				padding: 15px 20px;
			}
			&.active{
				transform: translateY(100%);
				width: 100%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}


.hello {
	margin-top: 60px;
	padding: 44px 77px;
	background: #F7E5E9;
	border-radius: 17px;
	position: relative;
	@media (max-width: em(1664)){
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	@media (max-width: em(576)){
		padding: 20px;
	}
	// .hello__title
	&__title {
		font-weight: 700;
		font-size: rem(25);
		color: #FF808B;
		max-width: 380px;
	}
	// .hello__text
	&__text {
		margin-top: 30px;
		font-size: rem(18);
		line-height: em(27, 18);
		color: #000000;
		max-width: 380px;
	}
	// .hello__img
	&__img {
		position: absolute;
		right: 120px;
		bottom: 0;
		width: 210px;
		@media (max-width: em(1664)){
			position: static;
			margin-top: 20px;
		}
	}
}


.main {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	// .main__body
	&__body {
		display: flex;
		justify-content: space-between;
		gap: 32px;
		margin-top: 40px;
		@media (max-width: em(1760)){
			flex-direction: column;
		}
	}
	// .main__block
	&__block {
		background-color: #fff;
		padding: 30px;
		border-radius: 17px;
		@media (max-width: em(576)){
			padding: 15px;
		}
	}
}
.block-main {
	flex: 0 0 calc(430 / 1020 * 100%);
	// .block-main__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .block-main__title
	&__title {
		font-size: rem(17);
		font-weight: 500;
	}
	// .block-main__link
	&__link {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		column-gap: 27px;
		&:before{
			transition: all .2s;
		}
		@media (any-hover: hover) {
			&:hover{
				&:before{
					transform: translateX(5px);
				}
			}
		}
	}
	// .block-main__result
	&__result {
		margin-top: rem(16);
	}
}

.result {
	// .result__item
	&__item {
		padding: 30px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:last-child){
			border-bottom: 1px solid #000;
		};
		@media (max-width: em(448)){
			flex-direction: column;
			row-gap: 10px;
		}
	}
	// .result__title
	&__title {
		font-weight: 600;
		span {
			font-weight: 400;
			color: #A2A2C2;
		}
	}
	// .result__progress
	&__progress {
		// .result__progress_value
		&_value {
			display: inline-block;
			text-align: right;
			width: 45px;
			._red & {
				color: $accentRed;
			}
		}
		progress {
			vertical-align: middle;
			width: 92px;
			height: 5px;
			border-radius: 5px;
			&::-webkit-progress-bar {
				border-radius: 5px;
				background-color: #DCDCE5;
			}
			&::-webkit-progress-value {
				background-color: #5E81F4;
				border-radius: 5px;
			}
			&::-moz-progress-bar {
				border-radius: 5px;
				background-color: #5E81F4;
			}
		}
	}
}
.main-spended {
	flex: 1 1 auto;
}

.block-main {
	// .block-main__spended
	&__spended {
		@media (max-width: em(576)){
			height: 350px;
		}
	}
}
.spended {
	display: flex;
	flex-direction: column;
	height: 100%;
	// .spended__table
	&__table {
	}
}
.table-spended {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	@media (max-width: em(576)){
		margin-top: 20px;
	}
	// .table-spended__item
	&__item {
	}
	// .table-spended__title
	&__title {
		font-size: rem(14);
		color: #A2A2C2;
	}
	// .table-spended__progress
	&__progress {
		height: 195px;
		width: 5px;
		position: relative;
		margin: 25px auto 0;
	}
}

.legend-spended {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: 1 1 auto;
	align-items: center;
	// .legend-spended__item
	&__item {
		display: flex;
		align-items: center;
	}
	// .legend-spended__marker
	&__marker {
		@include rect(12, 12, 1, 0);
		margin-right: 14px;
		// .legend-spended__marker_vocabulary
		&_vocabulary {
			background-color: $accentRed;
		}
		// .legend-spended__marker_grammar
		&_grammar {
			background-color: #4D4CAC;
		}
		// .legend-spended__marker_listening
		&_listening {
			background-color: $accentBlue;
		}
		// .legend-spended__marker_writing
		&_writing {
			background-color: #C8C9E9;
		}
	}
	// .legend-spended__title
	&__title {
		font-size: rem(14);
		color: #A2A2C2;
	}
}


.progress-vocabulary {
	background-color: $accentRed;
	position: absolute;
	width: 100%;
	top: 0;
	border-radius: 5px;
}
.progress-grammar {
	background-color: #4D4CAC;
	position: absolute;
	width: 100%;
	top: 0;
	border-radius: 5px;
}
.progress-listening {
	background-color: $accentBlue;
	position: absolute;
	width: 100%;
	top: 0;
	border-radius: 5px;
}
.progress-writing {
	background-color: #C8C9E9;
	position: absolute;
	width: 100%;
	top: 0;
	border-radius: 5px;
}


.footer {
	margin-top: 36px;
	// .footer__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .footer__title
	&__title {
		font-weight: 500;
		font-size: rem(17);

	}
	// .footer__cards
	&__cards {
		margin-top: 35px;
		@include grid-сards(fit, 280px, 1fr, 30px);
		// height: 100%;
	}
	// .footer__card
	&__card {
	}
}
.card-footer {
	padding: 23px;
	border-radius: 20px;
	display: flex;
	// .card-footer_purple
	&_purple {
		background: #4D4CAC;
	}
	// .card-footer_lightpurple
	&_lightpurple {
		background: #9698D6;
	}
	// .card-footer_red
	&_red {
		background: #FF808B;
	}
	// .card-footer__level
	&__level {
		height: 60px;
		flex: 0 0 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 500;
		font-size: 17px;
		background-color: rgba(255, 255, 255, 0.15);
		border-radius: 12px;
		margin-right: 17px;
	}
	// .card-footer__info
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 8px 0;
	}
	// .card-footer__subtitle
	&__subtitle {
		font-size: rem(14);
		color: #FEFEFE;
		opacity: 0.8;
	}
	// .card-footer__title
	&__title {
		font-weight: 500;
		font-size: rem(17);
		color: #FEFEFE;
		display: flex;
		justify-content: space-between;
		width: 100%;
		&:before{
			font-weight: 400;
		}
	}
}


.user-menu {
	min-width: 450px;
	max-width: 490px;
	padding: 50px 45px 50px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (max-width: em(1664)){
		justify-content: flex-start;
		row-gap: 50px;
	}
	@media (max-width: em(1248)){
		padding: 30px;
	}
	@media (max-width: em(1152)){
		display: inline-flex;
		align-self: flex-start;
	}
	@media (max-width: em(928)){
		row-gap: 30px;
	}
	@media (max-width: em(880)){
		position: absolute;
		z-index: 10;
		left: 100%;
		width: 100%;
		max-width: 100%;
		height: 100%;
		overflow: auto;
		transition: all .2s;
		min-width: 0;
	}
	@media (max-width: em(576)){
		padding: 20px;
	}
	&._active{
		left: 0;
	}
	// .user-menu__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: rem(17);
		&:before{
			color: $textColor;
			font-size: rem(18);
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
		column-gap: 7px;
		flex-direction: row-reverse;
	}
	&__close {
		font-size: 30px;
		@media (min-width: em(880)){
			display: none;
		}
	}
	// .user-menu__profile
	&__profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
		@media (max-width: em(928)){
			margin: 0;
		}
	}
	// .user-menu__avatar
	&__avatar {
		position: relative;
		border-radius: 50%;
		img {
			border: 7px solid #F5F5FB;
			@include rect(155, 155, 1, 0);
			object-fit: cover;
		}
	}
	// .user-menu__add-avatar
	&__add-avatar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		position: absolute;
		bottom: 10px;
		right: 10px;
		font-weight: 700;
		font-size: 19px;
		line-height: 16px;
		color: #FEFEFE;
		background-color: #5E81F4;
		cursor: pointer;
	}
	// .user-menu__name
	&__name {
		font-weight: 700;
		font-size: rem(20);
		color: #111026;
		margin-top: 30px;
	}
	// .user-menu__status
	&__status {
		margin-top: 15px;
		color: #A2A2C2;
	}
	// .user-menu__skills
	&__skills {
		margin-top: 64px;
		@media (max-width: em(928)){
			margin: 0;
		}
	}
	// .user-menu__skill
	&__skill {
	}
	// .user-menu__reminders
	&__reminders {
		margin-top: 90px;
		@media (max-width: em(928)){
			margin: 0;
		}
	}
}
.user-skill {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	flex-wrap: wrap;
	&:last-child{
		margin: 0;
	}
	// .user-skill__icon
	&__icon {
		background-color: #F5F5F7;
		@include rect(54, 54, 0, 1);
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: rem(17);
		color: #111026;
		margin-right: 27px;
	}
	// .user-skill__info
	&__info {
		max-width: 126px;
	}
	// .user-skill__lang
	&__lang {
		font-weight: 500;
		font-size: rem(17);
		color: #111026;
		margin-bottom: 10px;
	}
	// .user-skill__level
	&__level {
		font-size: rem(14);
		color: #A2A2C2;
	}
	// .user-skill__progress
	&__progress {
		margin-left: auto;
		flex: 0 0 111px;
		@media (max-width: em(384)){
			flex: 1 1 100%;
		}
		progress {
			width: 100%;
		}
	}
}
.user-reminders {
	// .user-reminders__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .user-reminders__title
	&__title {
		font-weight: 500;
		font-size: rem(17);
		color: #111026;
	}
	// .user-reminders__icon
	&__icon {
		&:before{
			font-size: rem(22);
		}
	}
	// .user-reminders__body
	&__body {
		margin-top: 26px;
	}
	// .user-reminders__item
	&__item {
	}
}
.item-reminder {
	display: flex;
	&:not(:last-child){
		margin-bottom: 38px;
	}
	// .item-reminder__icon
	&__icon {
		margin-right: 27px;
		flex: 0 0 rem(53);
		height: rem(53);
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:before{
			font-size: rem(18);
		}
		&._low-priority {
			background: #EEF2FD;
			span:before{
				color: #6083F4;
			}
		}
		&._high-priority {
			background: #FEF2F3;
			span:before{
				color: $accentRed;
			}
		}
	}
	// .item-reminder__info
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		line-height: 18px;
	}
	// .item-reminder__title
	&__title {
		color: #131336;
		margin-bottom: 15px;
	}
	// .item-reminder__date
	&__date {
		font-size: rem(14);
		color: #A2A2C2;
	}
}
